package pages

// This Template serves as the shell where the views should be rendered inside.
// The navbar renders outside of this template to be presistend across all views.
templ App(page templ.Component) {
  <div>
  @page
  </div>
}
